#include <windows.h>

#include "src/System/Constants.h"
#define VER_VERSION GAME_VERSION_MAJOR,GAME_VERSION_MINOR,GAME_VERSION_REVISION,GAME_VERSION_BUILD

1 VERSIONINFO
FILEVERSION    	VER_VERSION
PRODUCTVERSION 	VER_VERSION
FILEFLAGSMASK  	0
FILEFLAGS      	0
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_UNKNOWN
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_VERSION_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_VERSION_STR
        END
    END
END
