#define VER_VERSION 1,0,0,733
#define VER_VERSION_STR "1.0.0 r733\0"
#define VER_COMPANYNAME_STR "Chaos Project\0"
#define VER_FILEDESCRIPTION_STR "Advanced RPG Creator Executable\0"
#define VER_LEGALCOPYRIGHT_STR "© Chaos Project\0"
#define VER_PRODUCTNAME_STR "Advanced RPG Creator Executable\0"

1 VERSIONINFO
FILEVERSION    	VER_VERSION
PRODUCTVERSION 	VER_VERSION
FILETYPE       	0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
			VALUE "CompanyName",		VER_COMPANYNAME_STR
			VALUE "FileDescription",	VER_FILEDESCRIPTION_STR
			VALUE "LegalCopyright",		VER_LEGALCOPYRIGHT_STR
			VALUE "ProductName",		VER_PRODUCTNAME_STR
			VALUE "ProductVersion",		VER_VERSION_STR
        END
    END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 0x4E4
	END
END
 